/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: var(--first-color);
  right: 1.5rem;
  bottom: -30%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: var(--z-tooltip);
  opacity: 0.8;
  transition: 0.7s;

  &__icon {
    font-size: 1rem;
    color: #fff;
    transition: 0.7s;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }

  &:hover {
    background-color: var(--first-color-alt);
    opacity: 1;
  }

  // Show Scroll Up
  &__show {
    bottom: 3rem;
    transform: rotate(360deg);
  }
}
