/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(var(--hue), 4%, 53%);
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--hue), 4%, 29%);
  border-radius: 0.5rem;
}
