/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
/*56px*/
/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*========== Margin Bottom ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== z index ==========*/
/* Responsive typography */
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

body {
  margin: 3.5rem 0 0 0;
  background-color: white;
  color: #565d59;
  transition: 0.4s;
  /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: #252826;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title--center {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  line-height: 140%;
}

.section__title--center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
  /*For animation*/
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/
/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/*=============== NAV ===============*/
.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo, .nav__togle, .nav__close {
  color: #252826;
}
.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.3s;
}
.nav__logo:hover {
  color: #3e6553;
}
.nav__logo--icon {
  font-size: 1.15rem;
  color: #3e6553;
}
.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #fff;
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px rgba(29, 47, 39, 0.1);
    padding: 4rem 0 0 5rem;
    border-radius: 1rem 0 0 1rem;
    transition: 0.5s;
    z-index: 100;
  }
}
.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__link {
  color: #252826;
  font-weight: 500;
  transition: 0.3s;
}
.nav__link:hover {
  color: #3e6553;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
/* Active link */
/*=============== HOME ===============*/
/*=============== BUTTONS ===============*/
/*=============== ABOUT ===============*/
/*=============== STEPS ===============*/
/*=============== PRODUCTS ===============*/
/*=============== QUESTIONS ===============*/
/*Rotate icon, change color of titles and background*/
/*=============== CONTACT ===============*/
/*Input focus move up label*/
/*Input focus sticky top label*/
/*=============== FOOTER ===============*/
/*=============== SCROLL UP ===============*/
/* Show Scroll Up*/
/*=============== SCROLL BAR ===============*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* For medium devices */
/* For large devices *//*# sourceMappingURL=styles.css.map */